<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Pedido</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        #proveedores{
            /* margin-top: 5%; */
        }

    </style>
</head>
<body class="text-bg-primary">
    <!-- <a href="">articulos</a> -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <h4 style="color: green;" for="">{{ message }}</h4>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div id="proveedores" class="container text-bg-light my-5 pb-1">
        <h6 class="h4" >Proveedores</h6>
        {%for proveedor in proveedores%}
        <label for="" class=" fst-normal "> {{proveedor[0]}}</label> <br>
        <div id="pedidos">
            <div id="dataContent{{proveedor[8]}}">

            </div>
            <button onclick="document.getElementById('formPedido{{proveedor[8]}}').style='display: block;'" class="btn btn-light border-dark btn-sm">Nuevo pedido </button>
            <!-- <button onclick="getPedidosByProveedor({{proveedor[8]}})" id="PAnt{{proveedor[8]}}" class="btn btn-light border-dark btn-sm"> Ver pedidos anteriores</button> -->
            <section id="new_pedido" >
                <div id="detallePedido" class="container">
                <form id="formPedido{{proveedor[8]}}" action="/registrarNuevoPedido/{{proveedor[8]}}"  method="POST" style="display: none;"  > <!-- onsubmit="registrarPedido({{proveedor[8]}})"  target="_blank" >-->
                    <br>
                    <button class="btn btn-light border-dark" type="button" onclick="addArt({{proveedor[8]}})"> add art</button>
                    <button class="btn btn-light border-success" type="submit" form="formPedido{{proveedor[8]}}" >  Continuar</button>
                    <br>
                        
                        <select name="Articulo" id="" form="formPedido{{proveedor[8]}}" class="form-select mt-2 w-25" oninput="artSelected(this,'CantArt{{proveedor[8]}}','PrecioUnitario{{proveedor[8]}}' ,'SubTotalArt{{proveedor[8]}}')" required >
                            {% for article in articles %}
                            <option value="{{article[0]}}">
                                {{article[0]}}
                            </option>
                            {% endfor%}
                            <option disabled="true" selected="true" value=""> Seleccionar producto</option>
                        </select>
                        <div class="d-flex">
                            <label for="" class="fst-normal w-25 me-2 text-center">Cantidad</label>
                            <label for="" class="fst-normal w-25 me-2 text-center">total</label>
                            <label for="" class="fst-normal w-25 me-2 text-center">Subtotal</label>
                        </div>
                        <div class="d-flex">
                        <input name="cantidad" class="form-control mt-2 w-25 me-2" type="number" name="" form="formPedido{{proveedor[8]}}" id="CantArt{{proveedor[8]}}" placeholder="cantidad" onchange="calculateSubTotal('CantArt{{proveedor[8]}}','PrecioUnitario{{proveedor[8]}}', 'SubTotalArt{{proveedor[8]}}')" required>
                        <input name="total" class="form-control mt-2 w-25 me-2" type="number" name="" form="formPedido{{proveedor[8]}}" id="SubTotalArt{{proveedor[8]}}" placeholder="subtotal" readonly required>
                        <input name="subtotal" class="form-control mt-2 w-25" type="number" name="" form="formPedido{{proveedor[8]}}" id="PrecioUnitario{{proveedor[8]}}" placeholder="Precio Unitario" value="" required readonly>        
                        </div>
                        <br>
                    </form>
                
                </div>
            </section>
            
            
    </div>     
        
        
    {%endfor %}
    <button onclick="document.getElementById('add_proveedor').style='display: block;'" class="btn btn-primary border mt-1"> Nuevo proveedor</button>
        <section id="add_proveedor" style="display: none;" class="container">
            <form action="/nuevoProveedor" method="POST" id="new-prov">
                <span> Nuevo Proveedor </span>
                <label class="form-label">Razon social</label><input type="text" class="form-control" name="Razon social" id="" placeholder="Razon Social" >
                <label class="form-label">CUIL</label><input type="text" name="CUIL" id="" class="form-control" placeholder="CUIT">
                <label class="form-label">Condicion de IVA</label><select name="COND IVA" id="CDI" class="form-select" aria-label="Default select example">
                    <option value="Iva 1">Iva 1</option>
                    <option value="Iva 2">Iva 2</option>
                    <option value="Iva 3">Iva 3</option>
                    <option disabled="true" selected="true" value="">Seleccionar IVA</option>
                </select>
                <label class="form-label">Provincia</label><select id="provincia" name="provincia" class="form-select" aria-label="Default select example">
                    <option value="Buenos Aires" class="province">BUENOS AIRES</option>
                    <option value="CATAMARCA" class="province">CATAMARCA</option>
                    <option value="CHACO" class="province">CHACO</option>
                    <option value="CHUBUT" class="province">CHUBUT</option>
                    <option value="CIUDAD AUTONOMA DE Bs As"class="province">CIUDAD AUTONOMA DE Bs As</option>
                    <option value="Cordoba" class="province">CORDOBA</option>
                    <option value="CORRIENTES" class="province">CORRIENTES</option>
                    <option value="ENTRE RIOS" class="province">ENTRE RIOS</option>
                    <option value="FORMOSA" class="province">FORMOSA</option>
                    <option value="JUJUY" class="province">JUJUY</option>
                    <option value="LA PAMPA" class="province">LA PAMPA</option>
                    <option value="LA RIOJA" class="province">LA RIOJA</option>
                    <option value="MENDOZA" class="province">MENDOZA</option>
                    <option value="MISIONES" class="province">MISIONES</option>
                    <option value="NEUQUEN" class="province">NEUQUEN</option>
                    <option value="RIO NEGRO" class="province">RIO NEGRO</option>
                    <option value="SALTA" class="province">SALTA</option>
                    <option value="SAN LUIS" class="province">SAN LUIS</option>
                    <option value="SANTA CRUZ" class="province">SANTA CRUZ</option>
                    <option value="SANTA FE" class="province">SANTA FE</option>
                    <option value="SANTIAGO DEL ESTERO" class="province">SANTIAGO DEL ESTERO</option>
                    <option value="TIERRA DEL FUEGO" class="province">TIERRA DEL FUEGO</option>
                    <option disabled="true" selected="true" value="">Seleccionar una Provincia</option>
                </select>
                <label class="form-label">Localidad</label><select name="Localidad" id="localidad"class="form-select" aria-label="Default select example">
                    <option disabled="true" selected="true" value="" >Seleccionar una Localidad</option>
        
                </select>
        
                <label for="" class="form-label">Numero</label><input type="number" name="numero" id="" placeholder="telefono" class="form-control">
                <label for="" class="form-label">Fax</label><input type="text" name="fax" id="" placeholder="fax" class="form-control w-40" >
                <br>
                <button type="submit" class="btn btn-primary"> Guardar</button>
            </form>
        </section>
      
    </div>
 
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        // send info mediante rutas 
        function registrarPedido(idproveedor){
            alert("the function is called")
            let form={}    

            
            for (let name of document.getElementById("formPedido"+idproveedor).children ) {
                if(name.options){
                    art=name.options[name.selectedIndex].text
                    form[art]={}
                }
                if (name.value){
                    nombre=(name.getAttribute("placeholder"))
                    value=name.value
                    form[art][nombre]=value
                }
            }
            window.location.href=`/registrarPedido/${JSON.stringify(form)}${idproveedor}`   
        }

        //send info mediante 
        function getPedidosByProveedor(idproveedor){
            url=`/pedidos/${idproveedor}`
            $.get(url,function(data,status){
                console.log(data)
                let htmlcontent=``
                let datajson=JSON.parse(data)
                for (let keys in datajson){
                    htmlcontent+=datajson[keys]
                }
                document.getElementById("dataContent"+idproveedor).insertAdjacentHTML("beforebegin", ("<br>"+htmlcontent  ))
                console.log(JSON.parse({htmlcontent}))
                
            })
            document.getElementById("PAnt"+idproveedor).style="display: none"
        }
        
        function artSelected(sel,CantArtN, precioUnitarioN, ST) {
            
            let price=0
            //get selected option
            const selected=sel.options[sel.selectedIndex].text;
            
            // get  articles in  neat way
            var articleslist = JSON.parse('{{ articles | tojson }}');
            //get price from selected article 
            for(let art of articleslist){
                if(art[0]==selected){
                    price=art[3]
                    
                }
            }     
            //change value segun selected article
            
            document.getElementById(precioUnitarioN).setAttribute("value",price)
            calculateSubTotal(CantArtN,precioUnitarioN,ST)
        }
        
        function calculateSubTotal(CantArt,PUArt,ST){
            CAN=document.getElementById(CantArt).value
            PUAN=document.getElementById(PUArt).value
            document.getElementById(ST).value=CAN*PUAN
        }
        let added=0
        function addArt(idproveedor){
            //asing class to work 
            added++
            idCant="CantArt"+added+idproveedor
            idPU="PrecioUnitario"+added+idproveedor
            idST="SubTotalArt"+added +idproveedor
            htmlcontent=`
            <select name="Articulo${added}" id="" class="form-select mt-2 w-25" required oninput="artSelected(this,'${idCant}','${idPU}','${idST}')"
            <option value=""> </option> 
                
            <option value=""> </option> 
                {% for article in articles %}
                    <option value="{{article[0]}}">{{article[0]}}</option>
                {% endfor%}
                <option disabled="true" selected="true" value=""> Seleccionar producto</option>
            </select> 
            <div class="d-flex">
                            <label for="" class="fst-normal w-25 me-2 text-center">Cantidad</label>
                            <label for="" class="fst-normal w-25 me-2 text-center">total</label>
                            <label for="" class="fst-normal w-25 me-2 text-center">Subtotal</label>
                        </div>
                        <div class="d-flex">

            <input name="cantidad${added}" type="number" class="form-control mt-2 w-25 me-2"  id="${idCant}" placeholder="cantidad" required onchange="calculateSubTotal('${idCant}','${idPU}','${idST}') ">
            <input name="total${added}" type="number" class="form-control mt-2 w-25 me-2"  id="${idST}" placeholder="subtotal"  readonly required> 
            <input name="subtotal${added}" type="number" class="form-control mt-2 w-25"  id="${idPU}" placeholder="Precio Unitario" value="" required readonly> <br>
            </div>
            `
            document.getElementById("formPedido"+idproveedor).insertAdjacentHTML("beforeend",htmlcontent )
        }

    </script>
        <script>
        
            const request = new XMLHttpRequest();
            function clearOption(){
                if (document.getElementById("localidad").options.length>0){
                    for(let i=0; i<document.getElementById("localidad").options.length;i++){ 
                        document.getElementById("localidad").options[i]=null
                    }
                    clearOption()
                }
            }
            document.getElementById("provincia").addEventListener("input",function(){
            clearOption()
            let selected = document.getElementsByClassName("province")
            let opselected
            let localidades
    
            for(let i=0; i<selected.length;i++){
                if (selected[i].selected){
                opselected=(selected[i].textContent)
                }
            }
            
    
            let requestURL="https://apis.datos.gob.ar/georef/api/localidades?provincia="+opselected+"&campos=nombre&max=5000&exacto=true"
            
            request.open('GET', requestURL);
            request.responseType = 'json';
            request.send();
            let localidadesOrdenadas=[]
            
            request.onload=function(){
                
                localidades= request.response.localidades
                //console.log((localidades))
                for(let i=0; i<localidades.length;i++){
                    localidadesOrdenadas.push(localidades[i].nombre)
                }
                localidadesOrdenadas=localidadesOrdenadas.sort()
                for(let i=0; i<localidadesOrdenadas.length;i++){
                    let op=document.createElement("option")
                    op.className="loc"
                    op.textContent=localidadesOrdenadas[i]
                    document.getElementById("localidad").append(op)
                    
                }
                console.log(localidadesOrdenadas.length)
            }
    
            })
            
            
            
        </script>
</body>
</html>